# ignore archives
*.7z
*.zip

# ignore KiCad's backup files
/HW/*.bak
/HW/*.kicad_pcb-bak

# ignore auxiliary files from ESP-IDF and Visual Studio Code
/SW/sdkconfig
/SW/sdkconfig.old
/SW/build/
*.code-workspace
/.vscode/.browse.VC.db

# other
/notes/
