# http://editorconfig.org

root = false

#
# The main purpose of the following settings is to keep the web-related files
# as short as possible but not completely unreadable.
#

[{*.html,*.js,*.css}]
indent_style = space
indent_size = 1
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
