* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.sidebar {
    background: #37414f;
    color: #eee;
}

.header {
    text-align: center;
    top: auto;
    margin: 3em auto;
}

.title, .tagline {
    margin: 0;
}
.tagline {
    color: #aaa;
}

a {
    text-decoration: none;
    color: #5957f0;
}
a:hover, a:focus {
    text-decoration: underline;
}

.nav {
    margin: 1rem 0;
 }

.nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
}
.nav-item {
    flex: 0;
    margin: 0 4px;
}
.nav-item a {
    background: transparent;
    border: 2px solid #eee;
    border-radius: 4px;
    color: #fff;
}
.nav-item a:hover,
.nav-item a:focus {
    border-color: #5957f0;
    text-decoration: none;
}

.content {
    padding: 2em 1em 0;
}
.content-section {
    margin-bottom: 1rem;
}

.log-error, .log-warning, .log-info {
    margin: 0;
    border-bottom: 1px solid lightgrey;
    line-height: 1rem;
    padding: 2px 0;
    margin-bottom: 4px;
}
.log-error {
    background-color: lightpink;
}
.log-warning {
    background-color: lightyellow;
}



@media (min-width: 48em) {
    .nav ul {
        flex-flow: column;
    }
    .nav-item {
        margin: 4px 0;
    }

    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
    }

    .header {
        margin: 3rem 1rem 0;
        text-align: right;
    }

    .content {
        padding: 2em 3em 0;
        margin-left: 25%;
    }
}
