<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<script src="jquery.js"></script>
<script>
var timerID = null;
function StartStatusChk() { timerID = setInterval(CheckStatus, 1000); }
function StopStatusChk() {
 if (timerID != null) {
  clearInterval(timerID);
  timerID = null;
 }
}

function SaveData() { PostPOST(1); }
function CheckConn() { PostPOST(0); }
function PostPOST(postID) {
  StopStatusChk();

  var ssid = $("#SSID").val();
  var pass = $("#PASS").val();
  var qurl;
  var pid;
  if (postID === 1) { $("#sTxt").text("Saving ...");   qurl = "/save.json";  pid = 1; }
  else {              $("#sTxt").text("Checking ..."); qurl = "/check.json"; pid = 0; }

  $.ajax({
    url: qurl, dataType: "json", method: "POST", cache: false,
    headers: { "X-User-SSID": ssid, "X-User-PASS": pass },
    data: { "id":pid }
  })
  .fail(function(xhr, status, error) { $("#sTxt").text(xhr.statusText); });

  StartStatusChk();
}
    
$(document).ready(function() {
  $("#checkBtn").on("click", function() { CheckConn(); });
  $("#saveBtn").on("click", function() { SaveData(); });
  StartStatusChk();
});

function CheckStatus() {
 $.getJSON("/status.json", function(data) {
  if (data.hasOwnProperty("status")) {
   if      (data["status"] === 0)  { $("#sTxt").text(""); }
   else if (data["status"] === 1)  { $("#sTxt").text("Saved"); }
   else if (data["status"] === 2)  { $("#sTxt").text("Saved. Resetting..."); }
   else if (data["status"] === 3)  { $("#sTxt").text("Not saved !"); }
   else if (data["status"] === 4)  { $("#sTxt").text("Checking..."); }
   else if (data["status"] === 5)  { $("#sTxt").text("Invalid SSID !"); }
   else if (data["status"] === 6)  { $("#sTxt").text("Invalid password !"); }
   else if (data["status"] === 7)  { $("#sTxt").text("Check failed !"); }
   else if (data["status"] === 8)  { $("#sTxt").text("Check failed !"); }
   else if (data["status"] === 9)  { $("#sTxt").text("Check succeeded."); }
   else if (data["status"] === 10) { $("#sTxt").text("Check timeout !"); }
  }
 })
 .fail(function() { /*ignore*/ });
}
</script>
    <title>DevXX WiFi Manager</title>
</head>
<body>
<div id="Credentials">
    <h2>Enter credentials</h2>
    SSID: <input id="SSID" type="text" value=""><br/>
    Pass: <input id="PASS" type="password" value=""><br/>
    <input id="checkBtn" type="button" value="Check"/>
    <input id="saveBtn" type="button" value="Save"/>
    <br/>
    <span id="sTxt"></span>
</div>
</body>
</html>
